/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*:root {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-image: url('./assets/background.gif');
    /* background-size: cover; */
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    /* ???? - Why it does not work with 100vw */
    height: 99vh;
    /* ???? - Why it does not work with 100vh */
}

.award-container {
    width: 50%;
    margin: 15px 0;
}

.award-container .labels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #A6CE3A;
    font-size: 1.5rem;
    margin: 10px 0;
}

.info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #52671C;
    border-radius: 50px;
    /* height: 100px; */
}

.info-box__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #07162b;
    padding: 0.6vw;
}

.info-box__titles .titles__up {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.info-box__titles .titles__down {
    font-size: 1.3rem;
}

.info-box .info-box__number {
    color: white;
    padding: 5px;
    background-color: #07162b;
    border-radius: 50px;
    height: 75%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 3rem;
    overflow: hidden;
}

.active {
    background-color: #A6CE3A;
}

#insert-number-modal {
    display: flex;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    color: white;
    background: linear-gradient(to right, #538234, #091932);
    box-shadow: hsla(236, 50%, 50%, .3) .4rem .4rem 10.2rem .2rem;
    position: relative;
    overflow: hidden;
}

input {
    background: transparent;
    border: 2px solid #A6CE3A;
    color: white;
    font-size: 24px;
    width: 350px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none /* Removes the border when the input is clicked */
  }

/* The Close Button */
.close {
    display: flex;
    color: #A6CE3A;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.again {
    margin-right: 180px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#num {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    
    animation: pulse-num 3s infinite;
}

h1 {
    font-size: 40px;
}

/* Pulse animation */
@keyframes pulse-num {
    0% {
        text-shadow: 0 0 0 rgba(120, 120, 120, 0.7);
    }
    
    50% {
        text-shadow: 0 0 20px rgb(165, 165, 165);
    }
    
    100% {
        text-shadow: 0 0 0 rgba(120, 120, 120, 0.7);
    }
  }